<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Number Trivia!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
</head>
<body>
  <div class="box center-div">
    <div id="number"><center><%= dataToRender.number %></center></div>
    <img src="<%= dataToRender.gifURL %>">
    <p>Fun Fact: <%= dataToRender.fact %></p>
    <p>Giphy Keyword: <%= dataToRender.keyword %></p>
    <img src="/giphy-logo.png">
  </div>
</body>
</html>