<%- include('partials/head') %>
  <body>
    <div id="container">
      <%- include('partials/logo-and-search') %>
      <div>
        <img id="gif" src="https://media.giphy.com/media/YyKPbc5OOTSQE/giphy.gif">
      </div>
      <div id="sorry">
        <p>Sorry, but that page does not exist.</p>
        <p>Please search for a number in the box above.</p>
      </div>
    </div>
  </body>
</html>